{%	extends	"website/base.html"	%}
{% load staticfiles %}
{% block title %}{{grant.title}}{% endblock title %}
		{% block content %}
		<div>
		<p><img src="{% static "user/images/" %}{{grant.title}}.jpg" align="Right"/>{{grant.text|linebreaks}}</div>
		<p align="center" style="font-size:25px;">For more information visit:<a href="{{grant.link}}" style="font-size:25px;">{{grant.link}}</a></p>
		</body>
<style type="text/css">
p{
font-size:22px;
}
.H{
display:inline;
border-left:2px solid;
border-left-color:white;
padding-left:1em;
padding-right:1em;
}
.HF{
display:inline;
border-left:none;
padding-left:0;
padding-right:1em;
}
#T{
text-align:center;
font-family:Palatino, serif;
font-size:40px;
color:white;
min-width:1330px;
background-color:#034054;
}
#M{
text-align:center;
font-family:Andale Mono, monospace;
min-height:30px;
background-color:#0bbaf4;
font-size:20px;
text-decoration:none;
overflow:auto auto;
min-width:1330px;
}
#M li{
display:inline;
}
.Menu
{
color:white;
text-decoration:none;
}
.Menu:hover{
color:#0d7192;
}
#M ul li:hover > ul {
  visibility: visible;
  
}
#M ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#M ul ul {
text-align:left;
font-size:15px;
width:185px;
line-height:30px;
border-color:black;
	margin-left:485px;
 visibility: hidden;
  position: absolute;
  z-index: 598;
  background: #3b5757;
}
#M ul ul a {
text-decoration:none;
 color:White; 
}
#M ul ul a:hover {
font-size:16px;
}
.RG{
color:#682a40;
font-weight:bold;
}
.RG:hover{
text-decoration:underline;
}
</style>
{% endblock %}
